{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="title my-4">
    <h1 class="text-center">Accueil</h1>
</section>


{% endblock %}
