{% extends 'base.html.twig' %}

{% block title %}Détail d'un modèle{% endblock %}

{% block body %}
    <section class="title">
		<h1 class=" text-center">{{ model.name }}</h1>
        <p class=" text-center">Prix : {{ model.price }} €</p>
	</section>

    {# Update form for a model #}
    <section class="update-form my-4">
        <div class="row d-flex justify-content-center">
            <div class="col-12 border p-3 rounded">
                <h2 class="text-center" style="font-size:24px;">Modifier un modèle</h2>
                {{ form(update) }}  
            </div>
        </div>
    </section>

{% endblock %}