{% extends 'base.html.twig' %}

{% block title %}Modèles{% endblock %}

{% block body %}
    <section class="title">
        <h1 class="my-4 text-center">Liste des modèles</h1>
    </section>

{% endblock %}
